{% extends "base.html.twig" %}
{% block title %}
	Accueil Admin
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Bienvenue dans l'interface admin</h2>
		<div class="row">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit impedit odio numquam quae iste optio at dignissimos officiis nostrum consectetur omnis repudiandae, qui eum quam, doloremque a dolorem voluptate quos?
			</p>
		</div>
	</div>
{% endblock %}
