{% extends "base.html.twig" %}
{% block title %}
	Accueil Admin
{% endblock %}

{% block titreInter %}
	<span class="float-end">
		<a href="{{ path('logout') }}" class="btn btn-sm btn-outline-warning">Exit</a>
	</span>
	Bienvenue dans l'interface admin
{% endblock %}

{% block menu %}
	{% include ("admin/_menu.html.twig", {currentPage: 'livres'}) %}
{% endblock %}

{% block body %}
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit impedit odio numquam quae iste optio at dignissimos officiis nostrum consectetur omnis repudiandae, qui eum quam, doloremque a dolorem voluptate quos?
	</p>
{% endblock %}
