{% extends "base.html.twig" %}

{% block title %}
	Liste des messages
{% endblock %}

{% block body %}
	<div class="container" id="corps">
		<div class="row">
			<span class="float-end">
				<a href="{{ path('contact') }}" class="btn btn-sm btn-success">Retour</a>
			</span>
		</div>
		<ul>
			{% for msg in message %}
				<li class="d-flex flex-row justify-content-between">
					<span>{{ msg.nom }}</span>
					<span>{{ msg.email }}</span>
					<span>{{ msg.text }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}